body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color:gainsboro;
}

h1, h2, h3 {
    color: #333;
    text-align: center;
}
form {
    margin-bottom: 20px;
}

fieldset {
    border: 1px solid #3f3a3a;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #0056b3;
}

#resumeOutput {
    margin-top: 20px;
}
